body{
    font-family: 'Montserrat', sans-serif;
    background-color: #222222;
}

.div-container{
    min-width: 350px;
    max-width: 400px;
    min-height: 700px;
    max-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    background-color: greenyellow;
}
.div-player1-points, .div-player2-points{
    height: auto;
    width: 120px;
}

img{
    width: 100px;
    bottom: 0;
}
#but-p1-plus, #but-p2-plus, #but-p2-minus, #but-p1-minus{
    width: 100%;
    margin-top: 15px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;

}

.div-button-p1, .div-button-p2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.div-player1, .div-player2{
    text-align: center;
}

.div-player1-points, .div-player2-points{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-footer{
    position: absolute;
    bottom: 0;
    color: aliceblue;
}

.div-container-menu{
    width: 400px;
    height: 300px;
    background-color: azure;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
}
.div-container-menu input{
    width: 100px;
}

.div-container-menu button{
    width: 100px;
    text-align: center;
}
